.backgroundContainer {
  position: fixed;
  inset: 0;
  font-family: fontAwsome;
  min-width: 100dvw;
  width: 100%;
  /* height: 100dvh; */
  height: 100%;
  overflow: hidden;
  z-index: -10;
  --bg: 0deg;
  background-image: linear-gradient(
    var(--bg),
    var(--bg-color-1),
    var(--bg-color-2)
  );
  background-image: linear-gradient(
    in lch var(--bg),
    var(--bg-color-1),
    var(--bg-color-2)
  );
  transition: background-image 0.5s;
}

.backgroundContainer .snowflake {
  --small: 3px;
  --medium: 7px;
  width: var(--small);
  height: var(--small);
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: snowFall 6s linear infinite, wind 10s ease-in-out infinite;
  top: -10%;
}

.snowflake:nth-child(2n + 3) {
  width: var(--medium);
  height: var(--medium);
}

@keyframes snowFall {
  100% {
    top: 100%;
  }
}

@keyframes wind {
  50% {
    transform: translateX(120px);
  }
}
