/* #experience {
  height: 100%;
  overflow: hidden;
} */

.experienceContainer * {
  margin: 0;
}

.experienceContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  max-height: calc(80vh - 200px);
}

.experienceTitle {
  width: 350px;
}

.titleContainer {
  margin: 5px 0;
  margin-left: 50px;
  transition: 0.5s margin;
  cursor: pointer;
  background: #3338;
  border-radius: 20px 0 0 20px;
  padding: 10px;
}

.titleContainer:nth-child(1) {
  margin-top: 0px;
}

.workDate {
  font-size: 0.7rem;
}

.workTitle {
  font-size: 1rem;
}

.titleContainer.active {
  margin-left: 0px;
}

.experienceInfo {
  overflow: hidden;
  width: calc(100% - 350px);
  background: #3338;
  border-radius: 0 6px 6px 4px;
}

.experienceInfo .workProjects {
  width: 100%;
  padding: 5px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  max-height: 0;
  height: calc(100% - 43px);
  padding: 0;
  transition: 0.5s max-height, 0.5s padding;
}

.projectsContainer.active {
  /* max-height: calc(100% - 1rem); */
  max-height: 100vh;
  overflow: scroll;
  padding: 10px;
}

.projectInfoContainer {
  position: relative;
  border-radius: 0.5rem;
  font-size: 20px;
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  transition: scale 0.3s;
  background: linear-gradient(50deg, transparent, rgba(170, 242, 255, 0.4)),
    rgba(97, 97, 97, 0.4);
}

.projectInfoContainer:hover {
  scale: 1.02;
  z-index: 2;
}

.projectInfoContainer * {
  padding: 0px 5px;
}

.projectInfoContainer h4 {
  margin-top: 10px;
}

@media (width < 800px) {
  .projectInfoContainer {
    width: 100%;
  }

  .experienceContainer {
    flex-direction: column;
    max-height: 99vh;
    padding: 0;
    height: auto;
    max-height: none;
  }

  .experienceInfo {
    width: 100%;
  }
}
